<mat-toolbar color="primary" class="shadow-md">
  <span class="text-xl font-semibold">Useless Facts Explorer</span>
  <span class="flex-grow"></span> <button mat-button routerLink="/random"
    routerLinkActive="font-bold border-b-2 border-white">Random Fact</button>
  <button mat-button routerLink="/favorites" routerLinkActive="font-bold border-b-2 border-white">Favorites</button>
</mat-toolbar>

<div class="p-4 bg-gray-100 min-h-[calc(100vh-64px)] flex items-center justify-center">
  <router-outlet></router-outlet>
</div>
