@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom right, theme('colors.background-light'), theme('colors.primary.50'));
  background-attachment: fixed;
  background-size: cover;
  color: theme('colors.text-dark');
}

:root {
  --mdc-theme-primary: theme('colors.primary.500');
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-secondary: theme('colors.accent.500');
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-error: theme('colors.accent.800');
  --mdc-theme-on-error: #ffffff;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-surface: theme('colors.text-dark');
  --mdc-filled-button-container-color: theme('colors.primary.500');
  --mdc-filled-button-label-text-color: #ffffff;
  --mdc-outlined-button-label-text-color: theme('colors.primary.500');
  --mdc-outlined-button-outline-color: theme('colors.primary.500');
  --mdc-outlined-button-hover-label-text-color: theme('colors.primary.600');
  --mdc-outlined-button-hover-outline-color: theme('colors.primary.600');
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
